Repository byte2pixel/serilog-sinks-file-encrypt: changes, and which Codecov flags are due for each by the changed paths.
All: encrypt, cli tool

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...90"  # Yellow between 60-90%, green above 90%

  status:
    # Overall project coverage requirements
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error
        paths:
          - "src/**"
    # Coverage requirements for new code (PR)
    patch:
      default:
        target: 85%
        threshold: 5%
        base: auto
        if_ci_failed: error
        paths:
          - "src/**"

component_management:
  individual_components:
    - component_id: encrypt-lib
      name: encrypt
      paths:
        - src/Serilog.Sinks.File.Encrypt/
    - component_id: encrypt-cli
      name: cli tool
      paths:
        - src/Serilog.Sinks.File.Encrypt.Cli/

comment:
  layout: "condensed_header, diff, components, condensed_files"

ignore:
  - "**/Program.cs"
  - "**/examples/**"
  - "**/tests/**"
  - "**/*.designer.cs"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"

Cli was overly complex
  examples/Example.WebApi/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
Due: cli tool

Fix make build, removed unused using.
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Usings.cs
Due: none

Cli was overly complex (#29)
  examples/Example.WebApi/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Usings.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
Due: cli tool

feat: Switch to AES-GCM stream cypher
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderSection.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt

ref: Don't create a new AesGcm instance per flush
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt

fix: Previously remved assert re-added
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: none

fix: Undo test changes
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: none

fix: Make the linter happy
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
Due: encrypt

ref: Moved escaping fix: Dispose AesGcm
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
Due: encrypt

doc: Crypto lib description update
  SECURITY.md
Due: none

feat: Export and import in pem format
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Models/KeyFormat.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionUtilsTests.cs
Due: encrypt, cli tool

docs: NuGet doc update
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
Due: cli tool

feat: Switch to stream cypher (#38)
  SECURITY.md
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderSection.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
Due: encrypt

Refactor allocations to reduce memory needs.
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
Due: encrypt

Refactoring allocations in EncryptedStream to improve memory performance
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
Due: encrypt

Updating benchmarks and raw data for benchmarks
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/Serilog.Sinks.File.Encrypt.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamTests.cs
Due: encrypt

Updating benchmarking readme.
  examples/Example.Benchmarks/README.md
Due: none

Fixing two dotnet make problems
  build.cs
Due: none

Fixing two dotnet make problems (#42)
  build.cs
Due: none

Improve Memory Allocations (#40)
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/Serilog.Sinks.File.Encrypt.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamTests.cs
Due: encrypt

Improving some issues in EncryptedStream
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
Due: encrypt

Improved security on session key clearing memory
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
  examples/Example.Benchmarks/Scenarios/WebApiRequestBenchmarks.cs
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamTests.cs
Due: encrypt

switch to ternary for the final header length
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
Due: encrypt

Clear session key from memory and perf improvments (#43)
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
  examples/Example.Benchmarks/Scenarios/WebApiRequestBenchmarks.cs
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamTests.cs
Due: encrypt

feat: CryptoGraphicUtils tests added
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
Due: encrypt

feat: Pem format (#39)
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Models/KeyFormat.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionUtilsTests.cs
Due: encrypt, cli tool

Refactor writer and reader to simplify logic a lot.
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderSection.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamTests.cs
Due: encrypt

Updating benchmarks with
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
Due: none

Added a test for marker in encrypted data.
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt

Refactor writer and reader to remove escaping (#47)
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderSection.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt

Adding interfaces and models to support versioning
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderEncoder.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IMessageEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionWriter.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptedMessage.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Models/SessionData.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderEncoderV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/MessageEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/SessionWriterV1.cs
Due: encrypt

Adding tests for header encoder v1
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/Models/SessionData.cs
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderEncoderV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncoderV1Tests.cs
Due: encrypt

Adding more work to header to make sure size isn't exceeded for key id
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderMetadata.cs
  src/Serilog.Sinks.File.Encrypt/RsaEncryptionHelper.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderEncoderV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/MessageEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/SessionWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/HeaderMetadataTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/RsaEncryptionHelperTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncoderV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncryptorV1Tests.cs
Due: encrypt
