Repository byte2pixel/serilog-sinks-file-encrypt: changes, and which Codecov flags are due for each by the changed paths.
All: encrypt, cli tool

Fix #81: documentation and cosmetic cleanups (#91)
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt.Core/Models/HeaderMetadata.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
Due: encrypt

Docs #82: document the v1 security model and known limitations
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Docs #82: correct the buffered-mode Minor Risks notes
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Docs #82: address review feedback on the security-model section
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Docs #82: document the v1 security model and known limitations (#92)
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Ref #83: commit v1-format fixtures generated by the v5 writer
  .gitignore
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/README.md
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/fixture-private-key.pem
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/fixture-public-key.pem
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/multi-session.expected.txt
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/multi-session.log
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/single-session.expected.txt
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/single-session.log
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/with-keyid.expected.txt
  tests/Serilog.Sinks.File.Decrypt.Tests/Fixtures/v1/with-keyid.log
  tests/Serilog.Sinks.File.Decrypt.Tests/Serilog.Sinks.File.Decrypt.Tests.csproj
  tests/Serilog.Sinks.File.Tests.Shared/V1TestStreamBuilder.cs
Due: none

Fix #83: v2 format — AAD-bound frames + authenticated end-of-log seal
  src/Serilog.Sinks.File.Decrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Decrypt/LogReader.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Decrypt/Models/SealStatus.cs
  src/Serilog.Sinks.File.Decrypt/Models/SessionResult.cs
  src/Serilog.Sinks.File.Decrypt/Readers/SessionReader.cs
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt.Core/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionWriter.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/SessionWriter.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/Readers/SessionAndHeaderReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Writers/SessionWriterTests.cs
  tests/Serilog.Sinks.File.Tests.Shared/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Tests.Shared/TestUtils.cs
Due: encrypt

Ref #83: integrity test suite for the v2 format
  .gitattributes
  tests/Serilog.Sinks.File.Decrypt.Tests/V2IntegrityTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/LogWriterTests.cs
Due: none

Ref #83: CLI seal reporting + v2 format documentation
  CHANGELOG.md
  README.md
  SECURITY.md
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
Due: cli tool

Ref #83: refresh benchmark results for the v2 format (v6.0.0)
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Addressing CodeQL issues
  examples/Directory.Build.props
  tests/Serilog.Sinks.File.Decrypt.Tests/V2IntegrityTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/LogWriterTests.cs
  tests/Serilog.Sinks.File.Tests.Shared/V1TestStreamBuilder.cs
Due: none

Ref #83: address PR #93 review comments
  src/Serilog.Sinks.File.Decrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Writers/SessionWriter.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/V2IntegrityTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Writers/SessionWriterTests.cs
  tests/Serilog.Sinks.File.Tests.Shared/V1TestStreamBuilder.cs
Due: encrypt

Update benchmarks after performing a more idle run on my machine
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
Due: none

Update benchmarks after performing a more idle run on my machine (#94)
  examples/Example.Benchmarks/Benchmarks.md
  examples/Example.Benchmarks/README.md
Due: none

Add CLAUDE.md, path-scoped Claude rules, and OS-native line-ending policy
  .claude/rules/cli.md
  .claude/rules/crypto-format.md
  .claude/rules/examples-benchmarks.md
  .claude/rules/packaging-release.md
  .claude/rules/testing.md
  .csharpierrc.json
  .editorconfig
  .gitattributes
  .gitignore
  CLAUDE.md
Due: none

Add project skills: verify-v1-compat, release, benchmark, new-fixture, format-bump
  .claude/skills/benchmark/SKILL.md
  .claude/skills/format-bump/SKILL.md
  .claude/skills/new-fixture/SKILL.md
  .claude/skills/verify-v1-compat/SKILL.md
Due: none

Add release skill; unignore .claude/skills/release/ from build-output pattern
  .claude/skills/release/SKILL.md
  .gitignore
Due: none

Add Claude Code project setup: CLAUDE.md, scoped rules, skills, line-ending policy (#95)
  .claude/rules/cli.md
  .claude/rules/crypto-format.md
  .claude/rules/examples-benchmarks.md
  .claude/rules/packaging-release.md
  .claude/rules/testing.md
  .claude/skills/benchmark/SKILL.md
  .claude/skills/format-bump/SKILL.md
  .claude/skills/new-fixture/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/verify-v1-compat/SKILL.md
  .csharpierrc.json
  .editorconfig
  .gitattributes
  .gitignore
  CLAUDE.md
Due: none

Fix #96: CLI exit-code contract, --quiet/--verbose, console writer seam
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GlobalCommandSettings.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ExitCodes.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Program.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/CommandTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/ExitCodesTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GlobalCommandSettingsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/CliIntegrationTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ExampleIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Usings.cs
Due: cli tool

Fix #96: CLI exit-code contract, --quiet/--verbose, console writer seam (#102)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GlobalCommandSettings.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ExitCodes.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Program.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/CommandTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/ExitCodesTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GlobalCommandSettingsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/CliIntegrationTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ExampleIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Usings.cs
Due: cli tool

Fix #84: zero-output decryption exits 4 instead of reporting success
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/DecryptionResultTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
Due: cli tool

Fix #85: require --force to overwrite outputs, containment-check output paths
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/OutputResolver.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/OutputResolverTests.cs
Due: cli tool

Fix #97: passphrase-encrypted private keys, Pem/3072 generate defaults
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IPassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/PassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ExampleIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/PassphraseResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/EncryptedLogStreamAsyncTests.cs
Due: encrypt, cli tool

Fix #98: decrypt accepts passphrase-encrypted private keys
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
Due: cli tool

Fix #99: restrict generated private key files to owner-only access
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IKeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/KeyFileWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/KeyFileWriterTests.cs
Due: cli tool

Fix #100: rich decrypt report, --json output, --require-sealed exit code
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IDecryptReporter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
Due: cli tool

Fix #100: rich decrypt report, --json output, --require-sealed exit code (#108)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IDecryptReporter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
Due: cli tool

Fix #99: restrict generated private key files to owner-only access (#107)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IDecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IKeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/KeyFileWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/KeyFileWriterTests.cs
Due: cli tool

Fix #98: decrypt accepts passphrase-encrypted private keys (#106)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IDecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IKeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/KeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/KeyFileWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
Due: cli tool

Fix #97: passphrase-encrypted private keys, Pem/3072 generate defaults (#105)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IDecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IKeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IPassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/KeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/PassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ExampleIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/KeyFileWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/PassphraseResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/EncryptedLogStreamAsyncTests.cs
Due: encrypt, cli tool

Fix #85: require --force to overwrite outputs, containment-check output paths (#104)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IDecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IKeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IPassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/KeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/OutputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/PassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ExampleIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/KeyFileWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/OutputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/PassphraseResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/EncryptedLogStreamAsyncTests.cs
Due: encrypt, cli tool

Address review findings: ReturnsNull, ToLowerInvariant, markup-safety tests
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
Due: cli tool

6.0.0 CLI overhaul: --force, passphrase-encrypted keys, key permissions, rich report + --json (fixes #84, #85, #97-#100) (#103)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/ConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IConsoleWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IDecryptReporter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IKeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IPassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/KeyFileWriter.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/OutputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/PassphraseResolver.cs
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/DecryptionResultTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ExampleIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/KeyFileWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/OutputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/PassphraseResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/EncryptedLogStreamAsyncTests.cs
Due: encrypt, cli tool

Path conditions:
  encrypt: any of: src/Serilog.Sinks.File.Encrypt/, but not: **/Program.cs, **/examples/**, **/tests/**, **/*.designer.cs, **/*.g.cs, **/*.g.i.cs, **/Migrations/**, **/obj/**, **/bin/**
  cli tool: any of: src/Serilog.Sinks.File.Encrypt.Cli/, but not: **/Program.cs, **/examples/**, **/tests/**, **/*.designer.cs, **/*.g.cs, **/*.g.i.cs, **/Migrations/**, **/obj/**, **/bin/**
