Repository byte2pixel/serilog-sinks-file-encrypt: changes, and which Codecov flags are due for each by the changed paths.
All: encrypt, cli tool

Cleanup: Remove redundant default initializers and shorten type references
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Decrypt/Serilog.Sinks.File.Decrypt.csproj.DotSettings
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
Due: cli tool

Cleanup: Remove redundant default initializers and shorten type references (#109)
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Decrypt/Serilog.Sinks.File.Decrypt.csproj.DotSettings
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReporter.cs
Due: cli tool

Fix CLI: reject unknown options (strict parsing) and wire up --version
  CHANGELOG.md
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/StrictParsingTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/VersionOptionTests.cs
Due: cli tool

Fix CLI: reject unknown options (strict parsing) and wire up --version (#110)
  CHANGELOG.md
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/StrictParsingTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/VersionOptionTests.cs
Due: cli tool

Fix #111: AllSessionsSealed never vacuously true when nothing was decrypted
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/DecryptionResultTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
Due: cli tool

Fix #111: AllSessionsSealed never vacuously true when nothing was decrypted (#112)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/DecryptReportModels.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/DecryptionResultTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
Due: cli tool

docs: Add manual acceptance test plan for 6.0.0 CLI overhaul
  docs/TESTPLAN-6.0.0.md
Due: none

docs: Add manual acceptance test plan for 6.0.0 CLI overhaul (#113)
  docs/TESTPLAN-6.0.0.md
Due: none

feat: Add example for mixed-version log decryption
  examples/Example.Console/README.md
  examples/Example.FileBasedApp/README.md
  examples/Example.FileBasedApp/v4Log.cs
  examples/Example.FileBasedApp/vLatestDecrypt.cs
  examples/Example.FileBasedApp/vLatestLog.cs
  examples/Example.WebApi/README.md
Due: none

docs: Finalize documentation for 6.0.0 release with PEM keys and CLI updates
  .gitignore
  CHANGELOG.md
  README.md
  docs/TESTPLAN-6.0.0.md
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Core.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

feat: Add example for mixed-version log decryption (#115)
  examples/Example.Console/README.md
  examples/Example.FileBasedApp/README.md
  examples/Example.FileBasedApp/v4Log.cs
  examples/Example.FileBasedApp/vLatestDecrypt.cs
  examples/Example.FileBasedApp/vLatestLog.cs
  examples/Example.WebApi/README.md
Due: none

docs: Finalize documentation for 6.0.0 release with PEM keys and CLI updates (#116)
  .gitignore
  CHANGELOG.md
  README.md
  docs/TESTPLAN-6.0.0.md
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Core.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

style: Apply C# syntax modernization and documentation improvements
  examples/Example.Benchmarks/Keys/KeyService.cs
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Decrypt/LogReader.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Decrypt/Models/SessionResult.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptionOptions.cs
Due: encrypt

style: Apply C# syntax modernization and documentation improvements (#119)
  examples/Example.Benchmarks/Keys/KeyService.cs
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Decrypt/LogReader.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Decrypt/Models/SessionResult.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptionOptions.cs
Due: encrypt

Path conditions:
  encrypt: any of: src/Serilog.Sinks.File.Encrypt/, but not: **/Program.cs, **/examples/**, **/tests/**, **/*.designer.cs, **/*.g.cs, **/*.g.i.cs, **/Migrations/**, **/obj/**, **/bin/**
  cli tool: any of: src/Serilog.Sinks.File.Encrypt.Cli/, but not: **/Program.cs, **/examples/**, **/tests/**, **/*.designer.cs, **/*.g.cs, **/*.g.i.cs, **/Migrations/**, **/obj/**, **/bin/**
