Repository byte2pixel/serilog-sinks-file-encrypt: changes, and which Codecov flags are due for each by the changed paths.
All: encrypt, cli tool

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...90"  # Yellow between 60-90%, green above 90%

  status:
    # Overall project coverage requirements
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error
        paths:
          - "src/**"
    # Coverage requirements for new code (PR)
    patch:
      default:
        target: 85%
        threshold: 5%
        base: auto
        if_ci_failed: error
        paths:
          - "src/**"

component_management:
  individual_components:
    - component_id: encrypt-lib
      name: encrypt
      paths:
        - src/Serilog.Sinks.File.Encrypt/
    - component_id: encrypt-cli
      name: cli tool
      paths:
        - src/Serilog.Sinks.File.Encrypt.Cli/

comment:
  layout: "condensed_header, diff, components, condensed_files"

ignore:
  - "**/Program.cs"
  - "**/examples/**"
  - "**/tests/**"
  - "**/*.designer.cs"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"

Refactoring for performance
  examples/Example.Benchmarks/Encryption/EncryptedLogStreamBenchmarks.cs
  examples/Example.Benchmarks/Program.cs
  examples/Example.Benchmarks/Serilog/SerilogFileSinkBenchmarks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IMessageEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderMetadata.cs
  src/Serilog.Sinks.File.Encrypt/Models/SessionData.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/MessageEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/SessionWriterV1.cs
  tests/Directory.Packages.props
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/Usings.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncryptorV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/MessageEncryptorV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionWriterV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/V1EncryptionTestBase.cs
Due: encrypt

Back to single session per run only way it performs.
  src/Serilog.Sinks.File.Encrypt/EncryptedLogReader.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameReader.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IMessageEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionHeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Encrypt/MessageEncryptorFactory.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptedMessageChunk.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Encrypt/Models/IDecryptionChunk.cs
  src/Serilog.Sinks.File.Encrypt/Readers/FrameReader.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/SessionHeaderWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/MessageEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionHeaderWriterV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/MessageEncryptorV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionWriterV1Tests.cs
Due: encrypt

Mostly done need to cleanup and get tests passing.
  examples/Example.Benchmarks/Encryption/EncryptedStreamBenchmarks.cs
  examples/Example.Benchmarks/Program.cs
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IMessageDecryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionWriter.cs
  src/Serilog.Sinks.File.Encrypt/MessageDecryptorFactory.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptedMessage.cs
  src/Serilog.Sinks.File.Encrypt/Models/IDecryptionChunk.cs
  src/Serilog.Sinks.File.Encrypt/Models/StreamingOptions.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/MessageDecryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/StreamingEncryptedFileReader.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedStreamTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionWriterV1Tests.cs
Due: encrypt

Rewriting reader to remove producer/consumer pattern
  src/Serilog.Sinks.File.Encrypt/EncryptedLogReader.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameReader.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderDecryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptedMessageChunk.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderSection.cs
  src/Serilog.Sinks.File.Encrypt/Models/IDecryptionChunk.cs
  src/Serilog.Sinks.File.Encrypt/Models/SessionData.cs
  src/Serilog.Sinks.File.Encrypt/Readers/FrameReader.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderDecryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/HeaderEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionHeaderWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncryptorV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/V1EncryptionTestBase.cs
Due: encrypt

More cleanup and updating benchmarks
  examples/Example.Benchmarks/README.md
  examples/Example.Benchmarks/Scenarios/BackgroundWorkerBenchmarks.cs
  examples/Example.Benchmarks/Scenarios/WebApiRequestBenchmarks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogReader.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameReader.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderDecryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IMessageEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionHeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Encrypt/MessageEncryptorFactory.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderMetadata.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderMetadataFactory.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderMetadataV1.cs
  src/Serilog.Sinks.File.Encrypt/Models/SessionData.cs
  src/Serilog.Sinks.File.Encrypt/Readers/FrameReader.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderDecryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/SessionReaderFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/HeaderEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/MessageEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionHeaderWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/DecryptedLogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncryptorV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/MessageEncryptorV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/V1EncryptionTestBase.cs
Due: encrypt

Got all tests passing again.
  examples/Example.Console/Program.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogReader.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionOptions.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/DecryptedLogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncryptorV1Tests.cs
Due: encrypt, cli tool

Getting all tests to pass including the resync tests
  src/Serilog.Sinks.File.Encrypt/EncryptedLogReader.cs
  src/Serilog.Sinks.File.Encrypt/EncryptedLogStream.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Models/MessageSection.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderDecryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/RsaEncryptionHelper.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/HeaderEncryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionHeaderWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/RsaEncryptionHelperTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/MockHeaderEncryptorV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionHeaderWriterV1Tests.cs
Due: encrypt

Rewrote the log decryptor
  src/Serilog.Sinks.File.Encrypt/EncryptedLogReader.cs
  src/Serilog.Sinks.File.Encrypt/SessionHeaderWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/SessionReaderFactory.cs
Due: encrypt

Renaming some things still more cleanup to do.
  examples/Example.Benchmarks/Encryption/EncryptedLogStreamBenchmarks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionHeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptHooksTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/V1EncryptionTestBase.cs
Due: encrypt

Tests mostly working
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Exceptions.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionResult.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
Due: encrypt

Further cleanup and simplification.
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Models/ErrorHandlingMode.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt, cli tool

Adding ILogger for audit log.
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderDecryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderEncryptor.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionHeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionHeaderWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncryptorV1Tests.cs
Due: encrypt, cli tool

Fix help examples
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
Due: cli tool

Fixing some issues with PR review
  examples/Example.Console/Program.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderDecryptor.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderDecryptorV1.cs
  src/Serilog.Sinks.File.Encrypt/SessionReaderFactory.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
Due: encrypt

Removing unused file and adding a couple tests
  src/Serilog.Sinks.File.Encrypt/Exceptions.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/DecryptionContextTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
Due: encrypt

Combining the EncryptionUtils and refactoring 2 tests.
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/GenerateCommand.cs
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionUtils.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptHooksTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/V1EncryptionTestBase.cs
Due: encrypt, cli tool

More xml docs and less generic exception handling.
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/SessionReaderFactory.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
Due: encrypt

Remove unneeded catch
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
Due: encrypt

remove unused var
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
Due: none

more specific exceptions when building RSAs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
Due: encrypt

fixing test on linux.
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderDecryptorV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt

Revert change to test and instead better handle linux
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderDecryptorV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt

Simplify the LogWriter AES initialization
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/CommandTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
Due: encrypt

Covering a few more test cases
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionContext.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/TestUtils.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/SessionHeaderWriterFactoryTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderEncryptorV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionHeaderWriterV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionReaderV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/V1EncryptionTestBase.cs
Due: encrypt

Renaming to be consistent. Reader/Writer postfixes
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderReader.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionWriter.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/HeaderWriterV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/SessionWriterFactoryTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/HeaderWriterV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/MockHeaderWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionReaderV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/v1/SessionWriterV1Tests.cs
Due: encrypt

Make sure to throw if key is too small from the hook.
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptHooksTests.cs
Due: encrypt

fixing the keyid length issue
  examples/Example.Benchmarks/Encryption/EncryptedLogStreamBenchmarks.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  src/Serilog.Sinks.File.Encrypt/Models/KeyFormat.cs
Due: encrypt

Adjusting namespaces.
  .gitignore
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/Serilog.Sinks.File.Encrypt.csproj.DotSettings
  src/Serilog.Sinks.File.Encrypt/SessionReaderFactory.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/HeaderWriterV1.cs
  src/Serilog.Sinks.File.Encrypt/Writers/v1/SessionWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Mocks/MockHeaderWriterV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj.DotSettings
  tests/Serilog.Sinks.File.Encrypt.Tests/TestUtils.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Usings.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/DecryptionContextTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptHooksTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/v1/SessionReaderV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/SessionWriterFactoryTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/HeaderWriterV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/SessionWriterV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/V1EncryptionTestBase.cs
Due: encrypt

Adding integration tests for session and header reader
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/v1/SessionReaderV1Tests.cs
Due: none

Adding edge case tests for LogReader
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/TestUtils.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/v1/SessionAndHeaderReaderV1Tests.cs
Due: encrypt

Remove parameters from BoyerMooreSearch
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
Due: encrypt

Cleaning up decrypt command and tests.
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/FileResolver/FileResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/FileResolver/IFileResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Serilog.Sinks.File.Encrypt.Cli.csproj.DotSettings
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
Due: encrypt, cli tool

Adding tests for file resolver.
  examples/Directory.Build.props
  src/Serilog.Sinks.File.Encrypt.Cli/Serilog.Sinks.File.Encrypt.Cli.csproj.DotSettings
  src/Serilog.Sinks.File.Encrypt.Cli/Services/FileResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IFileResolver.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/FileResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: cli tool

Fixing output path logic.
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IInputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IOutputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/InputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/OutputResolver.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/InputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/OutputResolverTests.cs
Due: cli tool

Fixing the output resolver
  examples/Example.Console/Program.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/OutputResolver.cs
Due: cli tool

Handle output paths correctly (#52)
  examples/Directory.Build.props
  examples/Example.Console/Program.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/ServiceCollectionExtensions.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Serilog.Sinks.File.Encrypt.Cli.csproj.DotSettings
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IInputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IOutputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/InputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/OutputResolver.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Integration/ServiceCollectionExtensionsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/InputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/OutputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt, cli tool
