Repository byte2pixel/serilog-sinks-file-encrypt: changes, and which Codecov flags are due for each by the changed paths.
All: encrypt, cli tool

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...90"  # Yellow between 60-90%, green above 90%

  status:
    # Overall project coverage requirements
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error
        paths:
          - "src/**"
    # Coverage requirements for new code (PR)
    patch:
      default:
        target: 85%
        threshold: 5%
        base: auto
        if_ci_failed: error
        paths:
          - "src/**"

component_management:
  individual_components:
    - component_id: encrypt-lib
      name: encrypt
      paths:
        - src/Serilog.Sinks.File.Encrypt/
    - component_id: encrypt-cli
      name: cli tool
      paths:
        - src/Serilog.Sinks.File.Encrypt.Cli/

comment:
  layout: "condensed_header, diff, components, condensed_files"

ignore:
  - "**/Program.cs"
  - "**/examples/**"
  - "**/tests/**"
  - "**/*.designer.cs"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"

Removing recursive option
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IInputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IOutputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/InputResolver.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/InputResolverTests.cs
Due: cli tool

Removing recursive option (#54)
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IInputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/IOutputResolver.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Services/InputResolver.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/InputResolverTests.cs
Due: cli tool

Added an ID option to decrypt command.
  examples/Example.Console/Program.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
Due: encrypt, cli tool

Replacing Combine with Join.
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
Due: cli tool

Added an ID option to decrypt command. (#57)
  examples/Example.Console/Program.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Infrastructure/CommandAppConfiguration.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IFrameWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/DecryptCommandTests.cs
Due: encrypt, cli tool

Updating documentation
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  examples/Example.Console/Program.cs
  examples/Example.Console/README.md
  examples/Example.WebApi/EncryptSetup.cs
  examples/Example.WebApi/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Fixing copilot review comments
  CHANGELOG.md
  CONTRIBUTING.md
  examples/Example.Console/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
Due: encrypt

Updating documentation (#58)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  examples/Example.Console/Program.cs
  examples/Example.Console/README.md
  examples/Example.WebApi/EncryptSetup.cs
  examples/Example.WebApi/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
Due: encrypt

More documentation updates
  CHANGELOG.md
  examples/Example.Benchmarks/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
Due: encrypt

More documentation updates (#59)
  CHANGELOG.md
  examples/Example.Benchmarks/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
Due: encrypt

Creating an interface to call to decrypt the AES session
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderReader.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Encrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/TestUtils.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/v1/SessionAndHeaderReaderV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt, cli tool

Updating documentation
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
Due: encrypt

Feature AES decrypt interface (#62)
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IHeaderReader.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/IKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Encrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/HeaderReaderV1.cs
  src/Serilog.Sinks.File.Encrypt/Readers/v1/SessionReaderV1.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/TestUtils.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/v1/SessionAndHeaderReaderV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
Due: encrypt, cli tool

Making the magic bytes public
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/SessionWriterV1Tests.cs
Due: encrypt

Making the magic bytes public (#63)
  src/Serilog.Sinks.File.Encrypt/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/Writers/FrameWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/SessionWriterV1Tests.cs
Due: encrypt

Updating documentation
  CHANGELOG.md
  README.md
  SECURITY.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Fixing documentation PR comments
  SECURITY.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
Due: none

Updating documentation (#64)
  CHANGELOG.md
  README.md
  SECURITY.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Refactor encryption header and session writer for version 1
  CHANGELOG.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderMetadata.cs
  src/Serilog.Sinks.File.Encrypt/Readers/HeaderReader.cs
  src/Serilog.Sinks.File.Encrypt/Readers/SessionReader.cs
  src/Serilog.Sinks.File.Encrypt/SessionReaderFactory.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/SessionWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Mocks/MockHeaderWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/SessionAndHeaderReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/SessionWriterFactoryTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/HeaderWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/SessionWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/HeaderWriterV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/V1EncryptionTestBase.cs
Due: encrypt

Update Cake.Sdk and some other references to v1.
  build.cs
  examples/Example.Benchmarks/Encryption/EncryptedLogStreamBenchmarks.cs
  examples/Example.Benchmarks/README.md
  serilog-sinks-file-encrypt.sln.DotSettings
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
Due: encrypt

Update XML comment for EncryptHooks
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/HeaderWriterTests.cs
Due: encrypt

Update readme for encrypt package
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Simplifies encryption header versioning (#69)
  CHANGELOG.md
  build.cs
  examples/Example.Benchmarks/Encryption/EncryptedLogStreamBenchmarks.cs
  examples/Example.Benchmarks/README.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  serilog-sinks-file-encrypt.sln.DotSettings
  src/Serilog.Sinks.File.Encrypt/EncryptHooks.cs
  src/Serilog.Sinks.File.Encrypt/LogReader.cs
  src/Serilog.Sinks.File.Encrypt/LogWriter.cs
  src/Serilog.Sinks.File.Encrypt/Models/EncryptionOptions.cs
  src/Serilog.Sinks.File.Encrypt/Models/HeaderMetadata.cs
  src/Serilog.Sinks.File.Encrypt/Readers/HeaderReader.cs
  src/Serilog.Sinks.File.Encrypt/Readers/SessionReader.cs
  src/Serilog.Sinks.File.Encrypt/SessionReaderFactory.cs
  src/Serilog.Sinks.File.Encrypt/SessionWriterFactory.cs
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderWriter.cs
  src/Serilog.Sinks.File.Encrypt/Writers/SessionWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Mocks/MockHeaderWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/SessionAndHeaderReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/SessionWriterFactoryTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/HeaderWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/SessionWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/HeaderWriterV1Tests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Writers/v1/V1EncryptionTestBase.cs
Due: encrypt

Format files with Csharpier
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/OutputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/SessionAndHeaderReaderTests.cs
Due: encrypt

Format files with Csharpier (#70)
  src/Serilog.Sinks.File.Encrypt/Writers/HeaderWriter.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/unit/OutputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/LogReaderTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/unit/Readers/SessionAndHeaderReaderTests.cs
Due: encrypt

Split encryption and decryption logic into separate packages
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Core.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
  serilog-sinks-file-encrypt.sln
  src/Serilog.Sinks.File.Decrypt/DecryptionUtils.cs
  src/Serilog.Sinks.File.Decrypt/Interfaces/IHeaderReader.cs
  src/Serilog.Sinks.File.Decrypt/Interfaces/IKeyProvider.cs
  src/Serilog.Sinks.File.Decrypt/Interfaces/ISessionReader.cs
  src/Serilog.Sinks.File.Decrypt/LocalKeyProvider.cs
  src/Serilog.Sinks.File.Decrypt/LogReader.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionContext.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionOptions.cs
  src/Serilog.Sinks.File.Decrypt/Models/DecryptionResult.cs
  src/Serilog.Sinks.File.Decrypt/Models/ErrorHandlingMode.cs
  src/Serilog.Sinks.File.Decrypt/Readers/HeaderReader.cs
  src/Serilog.Sinks.File.Decrypt/Readers/SessionReader.cs
  src/Serilog.Sinks.File.Decrypt/Serilog.Sinks.File.Decrypt.csproj
  src/Serilog.Sinks.File.Encrypt.Cli/Commands/DecryptCommand.cs
  src/Serilog.Sinks.File.Encrypt.Cli/Serilog.Sinks.File.Encrypt.Cli.csproj
  src/Serilog.Sinks.File.Encrypt.Core/CryptographicUtils.cs
  src/Serilog.Sinks.File.Encrypt.Core/EncryptionConstants.cs
  src/Serilog.Sinks.File.Encrypt.Core/Models/HeaderMetadata.cs
  src/Serilog.Sinks.File.Encrypt.Core/Models/KeyFormat.cs
  src/Serilog.Sinks.File.Encrypt.Core/Serilog.Sinks.File.Encrypt.Core.csproj
  tests/Serilog.Sinks.File.Decrypt.Tests/Serilog.Sinks.File.Decrypt.Tests.csproj
  tests/Serilog.Sinks.File.Decrypt.Tests/TestUtils.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/Usings.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/DecryptionContextTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/LogReaderTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/Readers/SessionAndHeaderReaderTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FileSinkIntegrationTests.cs
Due: cli tool

Introduce shared test project for common utilities
  serilog-sinks-file-encrypt.sln
  src/Serilog.Sinks.File.Encrypt.Core/Serilog.Sinks.File.Encrypt.Core.csproj
  tests/Directory.Packages.props
  tests/Serilog.Sinks.File.Decrypt.Tests/TestUtils.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/Usings.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj
  tests/Serilog.Sinks.File.Tests.Shared/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Tests.Shared/Serilog.Sinks.File.Tests.Shared.csproj
  tests/Serilog.Sinks.File.Tests.Shared/TestUtils.cs
  tests/Serilog.Sinks.File.Tests.Shared/Usings.cs
Due: none

Introduce v5.0.0 with split encryption and decryption packages
  CHANGELOG.md
  README.md
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Add versioning section to documentation for all packages
  README.md
  resources/nuget/Serilog.Sinks.File.Decrypt.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Cli.md
  resources/nuget/Serilog.Sinks.File.Encrypt.Core.md
  resources/nuget/Serilog.Sinks.File.Encrypt.md
Due: none

Remove unused using statements and format files
  tests/Serilog.Sinks.File.Decrypt.Tests/Usings.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/unit/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Usings.cs
  tests/Serilog.Sinks.File.Tests.Shared/EncryptionTestBase.cs
  tests/Serilog.Sinks.File.Tests.Shared/TestUtils.cs
  tests/Serilog.Sinks.File.Tests.Shared/Usings.cs
Due: none

remove unit folder from test projects
  tests/Serilog.Sinks.File.Decrypt.Tests/DecryptionContextTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/LocalKeyProviderTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/LogReaderTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/Readers/SessionAndHeaderReaderTests.cs
  tests/Serilog.Sinks.File.Decrypt.Tests/StreamingDecryptionTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/CommandTestBase.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/DecryptCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/GenerateCommandTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/InputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/OutputResolverTests.cs
  tests/Serilog.Sinks.File.Encrypt.Cli.Tests/Serilog.Sinks.File.Encrypt.Cli.Tests.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/CryptographicUtilsTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/EncryptHooksTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/EncryptedLogStreamAsyncTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/FrameWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/LogWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj
  tests/Serilog.Sinks.File.Encrypt.Tests/Serilog.Sinks.File.Encrypt.Tests.csproj.DotSettings
  tests/Serilog.Sinks.File.Encrypt.Tests/Writers/HeaderWriterTests.cs
  tests/Serilog.Sinks.File.Encrypt.Tests/Writers/SessionWriterTests.cs
Due: none
